p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
    margin: 2vw;
}

dd{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
}

header{
    text-align: justify;
    margin-bottom: 2vw;
}

footer{
    width: 100%;
    padding-top: 1.5vw;
    padding-bottom: 2vw;
    background-color: black;
    color: white;
    text-align: justify;
}

ul{
    list-style-type: none;
}

li{
    margin-top: 1vw;
    padding-right: 3vw;
}

li a{
    color: white;
    
    text-decoration: underline;
}

li a:hover{
    color: cadetblue;
}

.blacktxt:hover{
    color: cadetblue;
}

.blacktxt{
    font-family: monospace;
    font-size: 2vw;
    color:black;
    text-decoration: underline;
}

.certs{
    font-family: monospace;
    font-size: 2vw;
    color: black;
}

h2{
    font-size: 3vw;
    text-shadow: 0 0 .2vw darkblue;
}

h1{
    text-shadow: 0 0 .2vw darkblue;
    text-align: center;
}

div{
    margin-left: 2vw;
} 

dd, dt{
    margin-left: 3vw;
}

body{
    margin: 0;
}
